* {
  padding: 0 30px;
}

body {
  background-color: #080808;
  color: #fff;
}

.container {
  padding: 10px 10%;
}

.logo {
  width: 50%;
  max-width: 300px;
  padding: 0 50px;
}

nav ul {
  float: right;
  margin-top: -50px;
  padding-left: 50%;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin-right: -90px;
}

nav ul li a {
  color: #fff;
  text-decoration-color: #006b6b;
  text-decoration-thickness: 3px;
  font-size: 18px;
}

nav p {
  margin-left: 20px;
  margin-top: -20px;
  font-size: 110%;
}

img {
  max-width: 100%;
  float: center;
  padding-left: 20%;
  padding-right: 20%;
}